<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let lista of contactosService.contactos; let i = index">
      <ion-item detail>
        <ion-label>{{ lista.nombre }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editar(lista)"><ion-icon slot="icon-only" name="create-outline"></ion-icon></ion-item-option>
        <ion-item-option (click)="borrar(i)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
   
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarContacto()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
